rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    match /images/{imageId}/{allPath=**} {
      allow read: if request.auth != null 
      && getData(documentPath["access_permissions",request.auth.uid])
    }

    function documentPath(paths) {
    return path([
      ['databases', '(default)', 'documents'].join('/'),
      paths.join('/')
      ].join('/')
    );
  }

  function getData(path) {
    return firestore.get(path).data;
  }
  }
}
